# Dependencias
**/node_modules
**/__pycache__
**/*.pyc
**/.env
**/.venv

# Archivos de editor
.vscode
.idea
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Builds temporales
**/dist
**/build

# Git
.git
.gitignore

# README
README.md